h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #cc1646;
  display: block;
  text-align: center;
}
a{
  color: #cc1646;
  text-decoration: none;
  font-weight: 500;
}
body {
  border: #cc1646 8px solid;
  margin: 0!important;
  padding: 100px 50px;
  min-height: 100vh;
  background: #1f2030;
  color: #babfde;
  overflow-x: hidden;
}

p.description,{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #babfde;
  font-style: italic;
  font-weight:500;
}

.container{
}

.game-thumbnail{
  width: 100%;
  box-shadow: 0px 0px 10px rgba(1,1,1,0);
  transition: transform 0.5s, box-shadow 0.5s;
  /* transition: box-shadow 0.5s; */
}

.game-thumbnail:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(1,1,1,1);
  z-index: 999;
}

.col{
  padding: 0;
  padding: 30px;
}

.tags, .description{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #babfde;
  font-style: italic;
  font-weight:500;
}
.tags{
  width: 50%;
  margin: auto;
}
.description{
    font-weight: 300;
    font-size: 1.2em;
}
.tag{
  font-size: 0.85em;
  display: inline;
  margin: 20px;
  background-color: #2d2f54;
  padding: 5px 10px;
  border-radius: 10px
}
hr{
  border: 1px solid #979ba6;
  margin: 30px auto 30px;
  width: 50%;
}
.game-description{
  font-size: 1.2em;
  text-align: left;
  width: 50%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.game-screenshot{
  width: 50%;
  margin: 50px auto 0 auto;
  display: block;
}
.game-screenshot>img, .in-text-image>img{
  display:block;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  width: auto;
}
.in-text-image>img{
  margin: 40px auto;
  width: 100%;
}
.playstore-link{
  font-size: 0.85em;
  background-color: #2d2f54;
  margin: auto;
  margin-right: 20px;
  color: #babfde;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.5s;
}
.playstore-link>img{
  width: 20px!important;
  margin-right: 10px;
}
.playstore-link:hover{
  background-color: #432c5c;
}
.game-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.links-container{
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  padding: 20px;
}
.sorting-links{
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sorting-links>div{
  display: inline;
  margin: auto;
  margin-top: 20px;
}
.sorting-links>div>a{
  padding: 15px;
  background-color: #2d2f54;
  color: #babfde!important;
  text-decoration: none;
  border-radius: 10px;
  margin: 15px;
  transition: background-color 0.5s
}
.sorting-links>div>a:hover{
  background-color: #432c5c;
  color: #babfde;
}
.carousel-control-next,.carousel-control-prev{
  color: #ba1c1c;
}
nav.navbar{
  width: 99vw!important;
  position:absolute;
  top: 0;
  background-color: transparent!important;
}
.navbar-brand{
  position: absolute;
  left: -10px;
  top: 30px;
}
.navbar-brand>img{
  margin-top: none!important;
  width:20px;
  /* padding: 0!important; */
}
.navbar-nav>li>a{
  font-family: 'Montserrat', sans-serif;
  color: #54586e;
  font-size: 1.2em;
  margin-left:0.5em;
  transition: 0.5s;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color: transparent!important;
  color:#6f2232;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:focus{
  color: #cc1646;
  background-color: transparent!important;
}
.navbar-nav .nav-link.active{
  color: #cc1646;
}
.navbar-nav{
  position: fixed;
  right: 30px;
  top: 30px;
}
iframe{
  width: 712px;
  height: 400px;
  display: block;
  margin: 30px auto;
}
