h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #cc1646;
  display: block;
  text-align: center;
}

body {
  border: #cc1646 8px solid;
  margin: 0!important;
  padding: 100px 50px;
  min-height: 100vh;
  background: #1f2030;
  color: #babfde;
}

p.description,{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #babfde;
  font-style: italic;
  font-weight:500;
}

.container{
  margin-top: 100px;
}

.col>a>img{
  width: 100%;
  box-shadow: 0px 0px 20px rgba(1,1,1,1);
  transition: transform 0.5s;
}

.col>a>img:hover{
  transform: scale(1.05);
  z-index: 999;
}

.col{
  padding: 0;
  padding: 30px;
}

.game-technologies, .description{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #babfde;
  font-style: italic;
  font-weight:500;
}
.description{
    font-weight: 300;
    font-size: 1.2em;
}
.tag{
  font-size: 0.85em;
  display: inline;
  margin: 20px;
  background-color: #2d2f54;
  padding: 5px 10px;
  border-radius: 10px
}
hr{
  border: 1px solid #979ba6;
  margin: 30px auto 30px;
  width: 25%;
}
.game-description{
  font-size: 1.2em;
  text-align: left;
  width: 50%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.game-screenshot{
  width: 50%;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}
.playstore-link{
  background-color: #2d2f54;
  margin: auto;
  margin-right: 20px;
  color: #babfde;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.5s;
}
.playstore-link>img{
  width: 20px;
  margin-right: 10px;
}
.game-links{
  margin: 30px auto;
  width: 50%;
  display: block;
}

.playstore-link:hover{
  background-color: #432c5c;
}
